@font-face {
  font-family: 'EditorialNew';
  src: url('Fonts/PPEditorialNew-Regular-BF644b214ff145f.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EditorialNewP';
  src: url('Fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.App {
  background-color: #ECE8E0;
  padding-bottom: 50px;
}

.scrubber {
  -webkit-appearance: none;
  width: 80%;
  height: 4px;
  background: #ddd;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  position: absolute;
}

.scrubber:hover {
  opacity: 1;
}

.scrubber::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  background: rgb(67, 67, 67);
  cursor: pointer;
}

.scrubber::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
}

@media (max-width: 700px) {
  .page-container {
    overflow: hidden;
    box-sizing: border-box !important;
  }

  .mobileFull {
    width: 100% !important;
  }

  .mobileSemiFull {
    width: 60% !important;
  }

  .nested-div,
  .text {
    font-size: 12px;
    width: 100%;
    float: none !important;
    display: block;
    box-sizing: border-box !important;
    border-right: none !important;
    padding: 0px 0px !important;
    float: none;
  }

  h2 {
    width: 100% !important;
    display: block;
    font-size: 32px !important;
    padding: 0px !important;
    font-family: 'EditorialNewP';
    font-weight: 300;
    margin: 0 !important;
    text-align: center;
  }

  h3 {
    display: block;
    font-family: 'EditorialNewP';
    font-size: 20px !important;
  }

  p {
    display: block;
    font-size: 16px !important;
  }

  .body-row {
    flex-direction: column;
    padding: 5px 10px;
    /* padding: 10px; */
    width: 100%;
    /* Ensure full width on small screens */
    height: auto !important;
    box-sizing: border-box;
  }

}

span {
  font-family: "Inria Serif", serif;
}

.page-container {
  font-family: Arial, sans-serif;
  background-color: #F6F5EF;
  box-sizing: border-box !important;
}

.nav-header {
  /* background-color: #f0f0f0; */
  padding: 20px;
  text-align: left;
}

.body-container {
  margin: 00px 0;
}

.body-row {
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-around;
}



h2 {
  font-weight: 300;
  text-align: center;
  font-size: 42px;
  font-family: 'EditorialNewP';
  margin: 10px;
}

h3 {
  font-weight: 300;
  text-align: center;
  font-size: 26px;
  margin: 5px;
  font-family: 'EditorialNewP';
}

h4 {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  margin: 5px;
  font-family: 'EditorialNewP';
}


p {
  color: #9a9a9a;
  font-size: 20px;
  text-align: left;
}
